/* - - - - - - Default Values - - - - - - */

*{
   margin: 0;
   padding: 0;
   font-family: 'poppins', sans-serif;
}

h1{ font-size: 3em;}
h2{ font-size: 2.5em;}
h3{ font-size: 1.5em;}
p{ font-size: 1em;}
p{ margin-top: 9px;}
li{ font-size: 1em;}

.container{
   max-width: 900px;
   margin: auto;
}

/* - - - - - - Navigation Bar - - - - - - */

.navBar{
   background-color: rgb(245,245,245);
}

.navBar .container{
   display: flex;
   flex-direction: column;
   align-items: center;
   
}

.navBar .logo{
   display: flex;
   flex-direction: row;

   padding-bottom: 15px;
   font-weight: bold;
   color: rgb(204, 129, 0);
   font-size: 2em;
}

.navBar nav{
   display: flex;
   flex-direction: row;
   justify-content: center;
   padding-bottom: 25px;
}

.navBar a{
   padding: 0px 12px;
   text-decoration: none;
   font-weight: bold;
   color: black;
}

.navBar a:hover{
   color: rgb(204, 129, 0);
}

.a span{
   color:rgb(204, 129, 0);
}

/* - - - - - - Main Section - - - - - - */

.main{
   display: flex;
   align-items: center;
   justify-content: center;
   text-align: center;
   flex-direction: column;
   height: 100vh;
   background-image: linear-gradient(
       0deg,
       rgba(0,0,0,0.5),
       rgba(0,0,0,0.5)
   )
   ,url("media/campFire4.jpg");
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center center;
}

.main h1{
   color:white;
   text-shadow: 2px 2px 9px rgb(0, 0, 0);
}

.main h2{
   color:rgb(204, 129, 0);
   text-shadow: 2px 2px 9px rgb(0, 0, 0);
   margin-bottom: 12px;
}

button{
   color: white;
   margin: 10px;
   padding: 6px 12px;
   background-color: rgb(204, 129, 0);
   border: none;
   border-radius: 6px;
   box-shadow: 2px 2px 21px rgb(0, 0, 0);
   font-weight: bold;
   transition: 0.3s;
   cursor: pointer;
}

button:hover{
   background-color: rgb(255, 242, 0); 
}

/* - - - - - - About Us Section - - - - - - */

.aboutUs{
   text-align: center;
   padding: 200px 12px;
}

.aboutUs span{
   color:rgb(204, 129, 0);
}

.textAboutUs{
   margin: 0px 60px;
}

/* - - - - - - How to do Section - - - - - - */

.howToDo{
   padding: 36px 12px;
   background-color: rgb(30,30,30);
   color: white;
   text-align: center;
}

.howToDo .step{
   background-position: center center;
   background-size: cover;
   padding: 50px 20px;
   margin: 30px 10px;
   border-radius: 15px;
   box-shadow: 2px 2px 21px rgb(0, 0, 0);
}

.howToDo span{
   color:rgb(204, 129, 0);
}

.step:nth-child(1){
   background-image: linear-gradient(
       0deg,
       rgba(0,0,0,0.5),
       rgba(0,0,0,0.5)
   )
   ,url("media/campFire6.jpg");

}

.step:nth-child(2){
   background-image: linear-gradient(
       0deg,
       rgba(0,0,0,0.5),
       rgba(0,0,0,0.5)
   )
   ,url("media/campFire9.jpg");
}

.step:nth-child(3){
   background-image: linear-gradient(
       0deg,
       rgba(0,0,0,0.5),
       rgba(0,0,0,0.5)
   )
   ,url("media/campFire5.jpg");
}

/* - - - - - - Footer - - - - - - */

.footer{
   width: 100%;
   background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.87),
      rgba(0,0,0,.9)
   );
}
.footer .container{
   
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: 10px 10px;
   border-bottom: 1px solid rgb(64, 64, 64);
   color: #ccc;
}

/* - - - - - - Team Section - - - - - - */

.team{
   padding: 30px 0px;
   color: white;
   text-shadow: 2px 2px 9px rgb(0, 0, 0);
   display: grid;
   place-items: center;
   background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.3),
      rgba(0,0,0,0.3)
   )
   ,url("media/forest.jpg");
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center center;

}

.collaborators{
   place-items: center;
   padding-top: 20px;
   max-width: 220px;

}

.collaborators img{
   width: 200px;
   height: 200px;
   margin: 6px;
   border-radius: 12px;
   box-shadow: 2px 2px 21px rgb(0, 0, 0);
   cursor: pointer;

}

/* - - - - - - Main Access Section - - - - - - */

.mainAccess{
   display: flex;
   align-items: center;
   justify-content: center;
   text-align: center;
   flex-direction: column;
   height: 100vh;
   background-image: linear-gradient(
       0deg,
       rgba(0,0,0,0.5),
       rgba(0,0,0,0.5)
   )
   ,url("media/campFire3.jpg");
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center center;
}

.mainAccess h1{
   color:white;
   text-shadow: 2px 2px 9px rgb(0, 0, 0);
}

.mainAccess h2{
   color:rgb(204, 129, 0);
   text-shadow: 2px 2px 9px rgb(0, 0, 0);
}

.mainAccess form{
   margin-top: 21px;
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
}

.mainAccess form label{
   color: white;
   margin-right: 6px;
}

.emailBox{
   height: 21px;
   width: 200px;
}
